<div class="card">
  <header>
    <b><%= @review.game %></b>
  </header>
  <p>
    <%= @review.score %>
  </p>
  <p>
    <%= simple_format @review.description %>
  </p>
  <p>
    <%= @review.blockchain %>
  </p>
  <p>
    <%= link_to @review.game, @review.url %>
  </p>
</details>
<footer class="is-right">
  <div class="button outline dark">
    <%= link_to 'Edit', edit_review_path(@review) %>
  </div>
  <div class="button outline dark">
    <%= link_to 'Delete', review_path(@review), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</footer>
</div>
