<%= form_for @review do |f| %>
  <p>
    <%= f.label :game %>
    <%= f.text_field :game %>
    <br>
  </P>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
  </P>
  <p>
    <%= f.label :score %>
    <%= f.number_field :score %>
    <br>
  </P>
  <p>
    <%= f.label :url %>
    <%= f.url_field :url %>
    <br>
  </P>
  <p>
    <div class="field">
      <b><%= f.label :blockchain %></b>
      <br>
      <%= f.label :blockchain, "Ethereum"  %>
      <%= f.radio_button :blockchain, "Etherium" %>
      <%= f.label :blockchain, "Polygon" %>
      <%= f.radio_button :blockchain, "Polygon" %>
      <%= f.label :blockchain, "Solana" %>
      <%= f.radio_button :blockchain, "Solana" %>
    </div>
  </P>
  <div class="is-center">
    <%= f.submit "Save Review" %>
  </div>
<% end %>
